<!-- header section starts  -->

<header class="header">
  <a href="#" class="logo">
    <img src="images/logo.png" alt="" />
  </a>

  <nav class="navbar">
    <a href="#home">home</a>
    <a href="#about">about</a>
    <a href="#products">products</a>
    <a href="#review">reviews</a>
    <a href="#contact">contact</a>
  </nav>

  <div class="icons">
    <div class="fas fa-search" id="search-btn"></div>
    <a href="/sign_in"><div class="fas fa-user" id="cart-btn"></div></a>
    <div class="fas fa-bars" id="menu-btn"></div>
  </div>
</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">
  <div class="content">
    <h3>Hestia</h3>
    <p>
      Community members to can now reserve communal amenities, read the
      community newsletter, stay up to date on community announcements and
      activities, register complaints, request maintenance, and pay bills.
      Hestia is the solution to all you problems and a central hub of tools for
      each gated community.
    </p>
    <a href="/sign_in" class="btn">Sign Up Now</a>
  </div>
</section>

<!-- home section ends -->

<!-- about section starts  -->

<section class="about" id="about">
  <h1 class="heading">about us</h1>

  <div class="row">
    <!-- <div class="image">
          <img src="images/about-img.jpeg" alt="" />
        </div>
 -->
    <div class="content">
      <h3>what makes Hestia special?</h3>
      <p>
        Our product is an interactive web application that is a central hub of
        resources. The system contains a variety of tools that that residents as
        well as managers of gated communities can use to conveniently
        communicate with each other.
      </p>
      <p>
        Hestia contains systems that allow community members to reserve communal
        amenities, read the community newsletter, stay up to date on community
        announcements and activities, register complaints, request maintenance,
        and pay bills.
      </p>
      <!-- <a href="#" class="btn">learn more</a> -->
    </div>
  </div>
</section>

<!-- about section ends -->

<!-- product section starts -->

<section class="products" id="products">
  <h1 class="heading">our <span>products</span></h1>

  <div class="box-container">
    <div class="box">
      <div class="content">
        <h3>Bronze</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">$100 <span>per month</span></div>
        <div>
          <ul>
            <li>Access provided to upto 100 units</li>
            <li>Limited data storage</li>
            <li>Limited announcement posts</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="content">
        <h3>Silver</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">$200 <span>per month</span></div>
        <div>
          <ul>
            <li>Access provided to upto 200 units</li>
            <li>limited data storage</li>
            <li>Limited announcement posts</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="content">
        <h3>Gold</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price">$500 <span>per month</span></div>
        <div>
          <ul>
            <li>Access provided to 200 plus units</li>
            <li>unlimited data storage</li>
            <li>Unlimited announcement posts</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- review section starts  -->

<section class="review" id="review">
  <h1 class="heading">customer's <span>review</span></h1>

  <div class="box-container">
    <div class="box">
      <img src="images/quote-img.png" alt="" class="quote" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nulla sit
        libero nemo fuga sequi nobis? Necessitatibus aut laborum, nisi quas
        eaque laudantium consequuntur iste ex aliquam minus vel? Nemo.
      </p>
      <img src="images/pic-1.png" class="user" alt="" />
      <h3>john deo</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
    </div>

    <div class="box">
      <img src="images/quote-img.png" alt="" class="quote" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nulla sit
        libero nemo fuga sequi nobis? Necessitatibus aut laborum, nisi quas
        eaque laudantium consequuntur iste ex aliquam minus vel? Nemo.
      </p>
      <img src="images/pic-2.png" class="user" alt="" />
      <h3>john deo</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
    </div>

    <div class="box">
      <img src="images/quote-img.png" alt="" class="quote" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nulla sit
        libero nemo fuga sequi nobis? Necessitatibus aut laborum, nisi quas
        eaque laudantium consequuntur iste ex aliquam minus vel? Nemo.
      </p>
      <img src="images/pic-3.png" class="user" alt="" />
      <h3>john deo</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
    </div>
  </div>
</section>

<!-- review section ends -->

<!-- contact section starts  -->

<section class="contact" id="contact">
  <h1 class="heading"><span>contact</span> us</h1>

  <div class="row">
    <form action="">
      <div class="inputBox">
        <span class="fas fa-user"></span>
        <input type="text" placeholder="name" />
      </div>
      <div class="inputBox">
        <span class="fas fa-envelope"></span>
        <input type="email" placeholder="email" />
      </div>
      <div class="inputBox">
        <span class="fas fa-phone"></span>
        <input type="number" placeholder="number" />
      </div>
      <input type="submit" value="contact now" class="btn" />
    </form>
  </div>
</section>

<!-- contact section ends -->

<!-- footer section starts  -->

<section class="footer">
  <div class="share">
    <a href="#" class="fab fa-facebook-f"></a>
    <a href="#" class="fab fa-twitter"></a>
    <a href="#" class="fab fa-instagram"></a>
    <a href="#" class="fab fa-linkedin"></a>
  </div>

  <div class="links">
    <a href="#">home</a>
    <a href="#">about</a>
    <a href="#">products</a>
    <a href="#">review</a>
    <a href="#">contact</a>
  </div>

  <div class="credit">created by <span>CS175 Team Hestia</span></div>
</section>

<!-- footer section ends -->

<!-- custom js file link  -->
<script src="script.js"></script>