<!-- header section starts  -->

<header class="header">
  <a href="#" class="logo">
    <img src="images/logo.png" alt="" />
  </a>

  <nav class="navbar">
    <a href="#announcement">announcement</a>
    <a href="#calendar">calendar</a>
    <a href="#account">account</a>
  </nav>

  <div class="icons">
    <div class="fas fa-search" id="search-btn"></div>
    <a href="/sign_in"><div class="fas fa-user" id="cart-btn"></div></a>
    <div class="fas fa-bars" id="menu-btn"></div>
  </div>
</header>

<!-- header section ends -->

<!-- custom js file link  -->
<script src="script.js"></script>