/* ===== Google Font Import - Poformsins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "ann.css";

:root {
  --main-color: #457b9d;
  --black: #13131a;
  --bg: #f1faee;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: none;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: var(--bg);
}

section {
  padding: 2rem 7%;
}

.heading {
  text-align: center;
  color: #1d3557;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}
.dash-heading {
  padding-bottom: 3.5rem;
  font-size: 4rem;
  color: var(--bg);
}
.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border-radius: 12px;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 0.2rem;
}

.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  height: 6rem;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #1d3557;
}

.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
}

.header .icons div {
  color: #1d3557;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--main-color);
}

#menu-btn {
  display: none;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(images/about-img.png) no-repeat;
  background-size: 50%;
  background-position: 85% 75%;
}

.home .content {
  max-width: 60rem;
}

.home .content h3 {
  font-size: 6rem;
  color: #1d3557;
}

.home .content p {
  text-transform: none;
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #1d3557;
}

.about .row {
  display: flex;
  align-items: center;
  background: #1d3557;
  flex-wrap: wrap;
  border-radius: 40px;
}
/* .about .row .image {
  flex: 1 1 45rem;
} */

/* .about .row .image img {
  width: 100%;
} */
.about .row .content {
  flex: 1 1 45rem;
  padding: 10rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: var(--bg);
}

.about .row .content p {
  font-size: 1.6rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8;
}

.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.products .box-container .box {
  text-align: center;
  border: var(--border);
  padding: 2rem;
}

.products .box-container .box a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  border: var(--border);
  color: #fff;
  margin: 0.3rem;
}

.products .box-container .box a:hover {
  background: var(--main-color);
}

.products .box-container .box .image {
  padding: 2.5rem 0;
}

.products .box-container .box .image img {
  height: 25rem;
}

.products .box-container .box .content h3 {
  color: var(--main-color);
  font-size: 2.5rem;
}

.products .box-container .box .content li {
  margin-bottom: 2px;
  margin-top: 2px;
  list-style: none;
  color: var(--main-color);
  font-size: 1.5rem;
}

.products .box-container .box .content .stars {
  padding: 1.5rem;
}

.products .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: var(--main-color);
}

.products .box-container .box .content .price {
  color: #457b9d;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.products .box-container .box .content .price span {
  text-transform: lowercase;
  font-weight: lighter;
  font-size: 1.5rem;
}

.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.review .box-container .box {
  border: var(--border);
  text-align: center;
  padding: 3rem 2rem;
}

.review .box-container .box p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: #ccc;
  padding: 2rem 0;
}

.review .box-container .box .user {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .box-container .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  color: #1d3557;
}

.review .box-container .box .stars i {
  font-size: 1.5rem;
  color: var(--main-color);
}

.contact .row {
  display: flex;
  background: var(--bg);
  flex-wrap: wrap;
  border-radius: 30px;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

/* .contact .row form h3 {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #fff;
} */

.contact .row form .inputBox {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #fff;
  border: var(--border);
}

.contact .row form .inputBox span {
  color: var(--main-color);
  font-size: 2rem;
  padding-left: 2rem;
}

.contact .row form .inputBox input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  color: var(--black);
  text-transform: none;
  background: none;
}

.footer {
  background: #1d3557;
  text-align: center;
}
.footer .share {
  padding: 1rem 0;
}

.footer .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  border: var(--border);
  margin: 0.3rem;
  border-radius: 50%;
}

.footer .share a:hover {
  background-color: var(--main-color);
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

.footer .links a {
  padding: 0.7rem 2rem;
  color: #fff;
  border: var(--border);
  font-size: 2rem;
}

.footer .links a:hover {
  background: var(--main-color);
}

.footer .credit {
  font-size: 2rem;
  color: #fff;
  font-weight: lighter;
  padding: 1.5rem;
}

.footer .credit span {
  color: var(--main-color);
}

/* media queries  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .header .search-form {
    width: 90%;
    right: 2rem;
  }

  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }

  .home .content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/* Sign Pages  */

.sign {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
}
.container {
  position: relative;
  max-width: 430px;
  max-height: 730px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 20px;
}

.container .forms {
  display: flex;
  align-items: center;
  height: 440px;
  width: 200%;
  transition: height 0.2s ease;
}

.container .form {
  width: 50%;
  padding: 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}

.container.active .login {
  margin-left: -50%;
  opacity: 0;
  transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup {
  opacity: 0;
  transition: opacity 0.09s ease;
}
.container.active .signup {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.container.active .forms {
  height: 700px;
}
.container .form .title {
  position: relative;
  font-size: 27px;
  font-weight: 600;
}

.form .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color: #1d3557;
  border-radius: 25px;
}

.form .input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}

.input-field input {
  text-transform: lowercase;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
  border-bottom-color: #1d3557;
}

.input-field i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 23px;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i {
  color: #1d3557;
}

.input-field i.icon {
  left: 0;
}
.input-field i.showHidePw {
  right: 0;
  cursor: pointer;
  padding: 10px;
}

.form .checkbox-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.checkbox-text .checkbox-content {
  display: flex;
  align-items: center;
}

.checkbox-content input {
  margin-right: 10px;
  accent-color: #1d3557;
}

.form .text {
  color: #333;
  font-size: 14px;
}

.form a.text {
  color: #0077b6;
  text-decoration: none;
}
.form a:hover {
  text-decoration: underline;
}

.form .button {
  margin-top: 35px;
}

.form .button input {
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #1d3557;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input:hover {
  background-color: #1d3557;
}

.form .login-signup {
  margin-top: 30px;
  text-align: center;
}

.dash .row {
  display: flex;
  align-items: center;
  background: #1d3557;
  flex-wrap: wrap;
  border-radius: 40px;
}

.dash .row .content {
  flex: 1 1 45rem;
  padding: 10rem;
}

.dash .row .content h3 {
  font-size: 3rem;
  color: var(--bg);
}

.dash .row .content p {
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem 0;
  line-height: 1.8;
}

.admin-body {
  background: #1d3557;
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: row;
}
.column-dash {
  float: right;
  width: 50%;
}
.dash-announce {
  background: var(--bg);
  border-radius: 40px;
  padding: 30px;
}
.column-dash ul {
  margin: 0;
  padding: 1rem;
  display: grid;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  float: left;
  list-style: none;
}

.column-dash li {
  padding: 0.5rem 1.5rem 1rem;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  background: var(--bg);
  margin-bottom: 10px;
}

.column-dash li i {
  color: var(--black);
  width: 200%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.announcemnets {
  padding-bottom: 2.5rem;
  font-size: 2rem;
  color: var(--bg);
}

.submit-button {
  padding: 10px;
  border: none;
  color: #1d3557;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: var(--bg);
  cursor: pointer;
}

.submit-button2 {
  padding: 10px;
  border: none;
  color: var(--bg);
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: var(--black);
  cursor: pointer;
  margin-bottom: 10px;
}

.display-ann {
  margin-top: 20px;
  padding-left: 25px;
  background-color: var(--bg);
  border-radius: 20px;
  color: var(--black);
}

.display-text p {
  color: var(--black);
}

.res-user {
  font-weight: normal;
  font-size: 1.5rem;
  color: var(--bg) !important;
}
